<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.mycar">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".DealerAddCar"
            android:parentActivityName=".Dealer_Invent">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.mycar.Dealer_Invent" />
        </activity>
        <activity
            android:name=".Dealer_Invent"
            android:parentActivityName=".DealerDashBoard">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.mycar.DealerDashBoard" />
        </activity>
        <activity
            android:name=".Reservation"
            android:parentActivityName=".Dashboard"
            tools:ignore="MissingClass">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.mycar.Dashboard" />
        </activity> <!-- ============================================================================= -->
        <activity
            android:name=".Cart"
            android:parentActivityName=".Dashboard">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.mycar.Dashboard" />
        </activity> <!-- ============================================================================= -->
        <activity android:name=".Dashboard" >

        </activity>
        <activity android:name=".Register" /> <!-- ============================================================================= -->
        <activity android:name=".DealerSignUp" /> <!-- ============================================================================= -->
        <activity android:name=".AdminSignUp" /> <!-- ============================================================================= -->
        <activity android:name=".Login" /> <!-- ============================================================================= -->
        <activity android:name=".DealerLogin" /> <!-- ============================================================================= -->
        <activity
            android:name=".DealerReservation"
            android:parentActivityName=".DealerDashBoard">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.mycar.DealerDashBoard" />
        </activity>
        <activity android:name=".AdminLogin" /> <!-- ============================================================================= -->
        <activity android:name=".ForgotPassword" /> <!-- ============================================================================= -->
        <activity
            android:name=".Contact_Us"
            android:parentActivityName=".Dashboard">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.mycar.Dashboard" />
        </activity>
        <activity
            android:name=".Settings"
            android:parentActivityName=".Dashboard">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.mycar.Dashboard" />
        </activity>
        <activity
            android:name=".AboutUs"
            android:parentActivityName=".Dashboard">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.mycar.Dashboard" />
        </activity>
        <activity
            android:name=".AdminModUser"
            android:parentActivityName=".AdminBoard">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.mycar.AdminBoard" />
        </activity>
        <activity android:name=".AdminModFee" />
        <activity android:name=".Home">
            <!-- ___________ STARTING ACTIVITY CODE ___________ -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <!-- ______________________________________________ -->

        </activity> <!-- ============================================================================= -->
        <activity android:name=".DealerDashBoard" /> <!-- ============================================================================= -->
        <activity android:name=".AdminBoard" /> <!-- ============================================================================= -->
        <activity android:name=".Userprofile" /> <!-- ============================================================================= -->
        <activity android:name=".EditProfile" /> <!-- ============================================================================= -->
        <activity android:name=".ResetPassword" /> <!-- ============================================================================= -->
        <activity
            android:name=".Search"
            android:parentActivityName=".Dashboard">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.mycar.Dashboard" />
        </activity> <!-- ============================================================================= -->
        <activity
            android:name=".Select"
            android:parentActivityName=".Search">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.mycar.Search" />
        </activity> <!-- ============================================================================= -->
        <activity
            android:name=".Calendar"
            android:parentActivityName=".Dashboard">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.mycar.Dashboard" />
        </activity>
    </application>

</manifest>